.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: 100vh;
  padding: 80px;
  
}

.forms-group {
  box-shadow: 0 12px 25px rgba(11, 140, 245, 0.445);
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid rgba(11, 140, 245, 0.445);
  overflow: hidden;
  background: linear-gradient(90deg, rgb(69, 209, 241) 0%, rgb(81,73,239) 100%);
  margin-top: 100px;
}




.backcolor-user {
  background: rgb(69, 209, 241);
  width: calc(100% + 220px);
  margin-left: -100px;
  margin-right: -100px;
  margin-top: -100px;
  margin-bottom: 40px;
  height: 100px;
  border-radius: 15px 15px 0 0;  
}

.forms-group input {
  padding: 15px;
  margin: 10px;
  width: 150%;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(69, 209, 241);
  background-color: rgba(121, 215, 236, 0.503);

}

.forms-group input::placeholder {
  color: aliceblue;
  font-weight: bold;
}

.forms-group button {
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: rgb(69, 209, 241);
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

.forms-group button:hover {
  opacity: 0.9;  
}

.forms-group h1 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  
}

/* 
  ===================
  --- Exibição ------
  ===================
*/

.user-list {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 30px;
  padding-top: 470px;
}

.backcolor {
  background-color: rgb(69, 209, 241);
  padding: 20px;
  width: calc(100% + 20px);
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 10px;
  height: 70px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.information {
  box-shadow: 0 12px 25px rgba(11, 140, 245, 0.445);
  padding: 2px 10px;
  border-radius: 15px;
  background: linear-gradient(90deg, rgb(69, 209, 241) 0%, rgb(81,73,239) 100%);

}

.information h3 {
  background-color: rgba(177, 219, 220, 0.375);
  border: 1px solid rgb(248, 251, 249);
  border-radius: 10px;
  text-align: center;
  color: rgb(246, 255, 254);
  white-space: nowrap;
  width: 70%;
  padding: 5px 5%;
  /* backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(150px); */
  box-shadow: 0 12px 12px rgba(72, 9, 155, 0.503);
  margin: 10px auto;

  display: flex;
  justify-content: center;
  align-items: center;

}

.info-section {
  display: flex;
  justify-content: space-between;
  /* gap: 40px; */
  margin-bottom: 20px;
}

.id {
  background-color: rgba(148, 42, 255, 0.785);
  backdrop-filter: blur(1);
  border: 1px solid rgb(255, 255, 255);
  margin-top: 20px;
  padding: 3px 7%;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.age {
  background-color: rgb(50, 247, 145);
  margin-top: 20px;
  padding: 3px 7%;
  border-radius: 10px;
}

.information span{
  background-color: rgba(139, 247, 238, 0.445);
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 5px 5%;
  border: 1px solid rgb(196, 239, 247);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(150px);
 box-shadow: 0 12px 12px rgba(72, 9, 155, 0.503);
  color: rgb(44, 83, 88);
  font-weight: bold
}

.btn-action {
  display: flex;
  gap: 80px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.information button {
  padding: 5px 5%;
  margin-top: 30px;
  border-radius: 15px;
  outline: none;
  border: none;
  transition:  1s;
}

.information .delete{
  background-color: transparent;
  /* background-color: brown; */
  border: 1px solid rgb(223, 56, 56);
}

.information .edit {
  background-color: transparent;
  /* background-color: rgb(166, 82, 21); */
  border: 1px solid rgb(221, 232, 66);
  
}

.delete:hover,
.edit:hover {
  transform: scale(1.2)
}

.avatar {
  position: relative;
  background-color: rgba(240, 248, 255, 0.586);
  display: flex;
  bottom: 50px;
  left: 80px;
  width: 50%;
  border-radius: 40px;
  backdrop-filter: blur(30px);
  border: 1px solid rgb(246, 249, 250);
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  padding: 0 600px;
  background: rgba(255, 255, 255, 0.667); /* Azul escuro com transparência */
  backdrop-filter: blur(10px); /* Efeito de vidro */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  box-sizing: border-box;
}

.nav-bar ul {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  left: 80px;
}


.nav-bar li {
  list-style: none;

}

.nav-bar a {
  text-decoration: none;
  color:rgb(81,73,239);
  padding: 5px 40%;
  /* backdrop-filter: blur(20px); */
  font-weight: bold;
  font-size: 1.4rem;
  /* border: 1px solid rgb(65, 202, 226); */
  /* border: 1px solid rgb(69, 209, 241); */
  /* background: linear-gradient(90deg, rgb(69, 209, 241) 0%, rgb(81,73,239) 100%); */
}

.nav-bar a:hover {
  border: 1px solid rgb(69, 209, 241);
  background: linear-gradient(90deg, rgb(69, 209, 241) 0%, rgb(81,73,239) 100%);
  border-radius: 10px;
  color: #fff;

}

  
